/*
Slider

画像などのコンテンツをスライドで切り替えます

Markup:
.js_slider
  .js_slider__frame
    .js_slider__container
      .js_slider__content.is-active 1
      .js_slider__content 2
      .js_slider__content 3
      .js_slider__content 4
      .js_slider__content 5
      .js_slider__content 6
      .js_slider__content 7
      .js_slider__content 8
      .js_slider__content 9
      .js_slider__content 10
  ul.js_slider__pages
    li.is-active
    li
    li
    li
    li
    li
    li
    li
    li
    li
  button.js_slider__prev prev
  button.js_slider__next next

Styleguide 1.2.0
 */

.js_slider {
  .js_slider__frame {
    overflow: hidden;
    margin-bottom: 10px;
  }

  .js_slider__container {
    transition: margin-left 300ms 0s ease;
  }

  ul.js_slider__pages {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
      height: 15px;
      width: 15px;
      display: inline-block;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
      border-radius: 50%;
      margin: 0 2px;

      &.is-active {
        background-color: #666;
      }
    }
  }

  .js_slider__content {
    float: left;
  }
}

.js_slider {
  .js_slider__frame {
    width: 700px;
    background-color: whitesmoke;
  }

  .js_slider__content {
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: white;
    line-height: 200px;
    text-align: center;

    &:nth-child(2n) {
      background-color: firebrick;
    }

    &:nth-child(2n+1) {
      background-color: forestgreen;
    }
  }
}
